html{
 overflow-x:hidden;
 overflow-y:scroll;
}

.bg-coming-soon{
  width:100%;
  height:600px;
  border:1px solid white;
  background-color:paleturquoise;
}

.bg-coming{
  margin-left:30% !important;
  margin-top:8% !important;
}

@media(max-width:576px){
  .mobile{
    margin-left:-10% !important;
  }
  .modal-dialog{
    margin-left:-2% !important;
  }
  .menu-mobile{
    margin-left:35% !important;
  }
  .logo{
    margin-left:38% !important;
  }
  .bg-coming{
    margin-left:-1% !important;
    width:100% !important;
  }
}